.big-title{
    display:block;
    margin-top:0px;
    margin-left:10px;
    margin-bottom:-10px;
    padding:5px;
    font-family: STHeiti;
    font-size: xx-large;
    color: #424f63;
}

.reset {
    position: relative;
    margin-left: 70%;
    margin-top:70%;
    font-size: large;
    padding:5px;
    color: #A5A5A5;
    cursor: pointer;
}

.search-input {
    width: 20%;
    height: 60%;
    margin: 10px 5px 10px 10px;
    font-size: small;
    float:left;
    outline:0;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
}

.search-img {
    width:30px;
    height:30px;
    margin-top:12px;
    margin-bottom:12px;
    cursor: pointer;
}

.mybutton {
    display: inline-block;
    position: relative;
    background: #303336;
    border: 0px solid #2F2F2F;
    color: #edffff;
    fill: #edffff;
    padding-left: 6px;
    padding-top: 5px;
    padding-bottom: 5px;
    cursor: pointer;
    overflow: hidden;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    width: 100%;
    outline: none;
}

.mybutton:hover, .mybutton:active {
    color: #fff;
    fill: #fff;
    background: #555555;
}

.otherbutton {
    display: inline-block;
    position: relative;
    background: #777777;
    border: 0px solid #2F2F2F;
    color: #edffff;
    fill: #edffff;
    padding-left: 6px;
    padding-top: 5px;
    padding-bottom: 5px;
    cursor: pointer;
    overflow: hidden;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    width: 100%;
    outline: none;
}

.otherbutton:hover, .mybutton:active {
    color: #fff;
    fill: #fff;
    background: #A5A5A5;
}

.linebutton {
    display: inline-block;
    position: relative;
    background: #777777;
    border: 0px solid #2F2F2F;
    color: #edffff;
    fill: #edffff;
    padding-left: 6px;
    padding-top: 5px;
    padding-bottom: 5px;
    cursor: pointer;
    overflow: hidden;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    float:left;
    font-size: 0.3em;
    outline: none;
}

.linebutton:hover, .linebutton:active {
    color: #fff;
    fill: #fff;
    background: #A5A5A5;
}

#descriptionPanel{
    width: 300px;
    display:none;
    position: absolute;
    left: 15.5%;
    top: 50%;
    padding: 5px;
    background: #9acfea;
    color: white;
}

#onlineCloudDiv{
    width: 250px;
    height: 100px;
    display:none;
    position: absolute;
    left: 15.5%;
    top: 50%;
    padding: 5px;
    background: #5e5e5e;
    color: white;
}

#descriptionRoutePlanPanel{
    width: 300px;
    height: 200px;
    display:none;
    position: absolute;
    left: 15.5%;
    top: 65%;
    padding: 5px;
    background: #5e5e5e;
    color: white;
    overflow:auto;
}

.btn {
    display: inline-block;
    padding: 5px 5px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}
.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}
.btn:hover,
.btn:focus,
.btn.focus {
    color: #333;
    text-decoration: none;
}
.btn:active,
.btn.active {
    background-image: none;
    outline: 0;
    -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
}
.btn.disabled,
.btn[disabled],
fieldset[disabled] .btn {
    pointer-events: none;
    cursor: not-allowed;
    filter: alpha(opacity=65);
    -webkit-box-shadow: none;
    box-shadow: none;
    opacity: .65;
}

.btn-primary {
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
    color: #fff;
    background-color: #286090;
    border-color: #204d74;
}
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
    background-image: none;
}
.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled.focus,
.btn-primary[disabled].focus,
fieldset[disabled] .btn-primary.focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active {
    background-color: #337ab7;
    border-color: #2e6da4;
}
.btn-primary .badge {
    color: #337ab7;
    background-color: #fff;
}

#ul_list {
    position: absolute;
    top: 6.5%;
    left: 15.8%;
    width: 16.5% ;
    height:auto ;
    display: none;
    z-index: 1001;
    list-style-type:none;
    background: white;
    border-radius: 0.5em;
}

#ul_list li {
    padding: 0.2em;
}

#ul_list li:hover {
    color: #66ccff;
    cursor: pointer;
}

#li_content {

}

